{% if locacao.status_locacao.id == 1 %}
<span class="text-primary"><span class="{{ locacao.status_locacao.icone }}"></span> {{ locacao.status_locacao.status_locacao }}</span>
{% elif locacao.status_locacao.id == 2 %}
<span class="text-warning"><span class="{{ locacao.status_locacao.icone }}"></span> {{ locacao.status_locacao.status_locacao }}</span>
{% elif locacao.status_locacao.id == 3 %}
<span class="text-danger"><span class="{{ locacao.status_locacao.icone }}"></span> {{ locacao.status_locacao.status_locacao }}</span>
{% else %}
<span class="text-success"><span class="{{ locacao.status_locacao.icone }}"></span> {{ locacao.status_locacao.status_locacao }}</spans>
{% endif %}
