{% extends "common/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Adicionar Cliente{% endblock %}

{% block body %}
<h1><i class="fa fa-cart-plus"></i> Selecione um Cliente para a Locação</h1>

<p>&nbsp;</p>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    {% if busca is not Null %}
        <li><a href="{% url 'locacoes:clientes-index' %}">Clientes</a></li>
        <li class="active">Resultados da busca por: "{{ busca }}"</li>
    {% else %}
        <li><a href="{% url 'locacoes:locacoes-editar' pk=locacao.pk %}">Locação: #{{ locacao.id }} - {{ locacao.data_inicio|date:"d/m/Y, h:m" }}</a></li>
        <li class="active">Escolher cliente</li>
    {% endif %}
</ol>

<p></p>

<div class="row">
    <div class="col-md-12">
    <form id="formulario_busca" action="{% url 'locacoes:clientes-buscar' %}" method="GET" accept-charset="utf-8">
        <div class="input-group">
            <input type="text" name="campo_busca" class="form-control" placeholder="Por qual cliente você está procurando?">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default" aria-expanded="false"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    </div>
</div>
<p>&nbsp;</p>

<div class="row">
{% if page_obj %}
    {% for cliente in page_obj %}
    
    <div class="col-md-3 container-cliente">
        {% if cliente.foto %}
        <div class="col-md-12">
            <a class="thumbnail vitrine-imagem" href="{% url 'locacoes:clientes-detalhes' pk=cliente.pk %}">
                <img class="img-rounded vitrine-cliente" src="{{ cliente.foto.url }}" alt="Foto: {{ cliente.nome }}"/>
            </a>
        </div>
        {% endif %}

        <div class="col-md-12">
            <h4 class="text-center vitrine-titulo">
                <a href="{% url 'locacoes:clientes-detalhes' pk=cliente.pk %}">
                    {{ cliente.nome }}
                </a>
                {% if cliente.banido is True %}
                <i class="fa fa-ban" title="Este cliente está banido"></i>
                {% endif %}
            </h4>
            <p><strong>Endereço:</strong> {{ cliente.endereco }}, {{ cliente.numero }}</p>
            <p><strong>Telefone:</strong> ({{ cliente.ddd }}) {{ cliente.telefone }}
            <p><strong>Idade:</strong> {{ cliente.idade }} anos</p>
            <p class="text-center">
                
            </p>
        </div>
        <hr />
        <div class="text-center">
            <form id="formulario_exclusao" action="{% url 'locacoes:locacoes-addcliente' pk=locacao.pk %}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <input name="cliente" value="{{ cliente.id }}" type="hidden"></input>
                <button type="submit" class="btn btn-default"><i class="fa fa-hand-pointer-o"></i> Selecionar</a></button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>


<!-- Paginação -->
{% block paginator %}
    {% include "common/paginator.html" %}
{% endblock %}


{% endblock %}

