{% extends "common/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Cadastro de Locações{% endblock %}


{% block body %}
{% if locacao is not Null %}
    <h1><i class="fa fa-cart-plus"></i> Locação: #{{ locacao.id }} - {{ locacao.data_inicio|date:"d/m/Y, h:m" }}</h1>
{% else %}
<h1><i class="fa fa-cart-plus"></i> Cadastro de Locações</h1>
{% endif %}


<p>&nbsp;</p>


<ol class="breadcrumb">
    <li><a href="{% url 'locacoes:locacoes-index' %}">Home</a></li>
    {% if locacao is not None %}
    <li class="active">Locação: #{{ locacao.id }} - {{ locacao.data_inicio|date:"d/m/Y, h:m" }}</li>
    {% else %}
    <li class="active">Nova Locação</li>
    {% endif %}
</ol>


<div class="row">

    {% bootstrap_form_errors form error_types=all %}

    <div class="col-md-12">
    {% if locacao is Null %}
    <form action="{% url 'locacoes:locacoes-criar' %}" method="POST" class="form" enctype="multipart/form-data">
    {% else %}
    <form action="{% url 'locacoes:locacoes-editar' pk=locacao.pk %}" method="POST" class="form" enctype="multipart/form-data">
    {% endif %}
    {% csrf_token %}

        {% if locacao is None %}
        <div class="col-md-12">
            <div class="well well-sm"><strong>Olá!</strong> Comece digitando as informações deste bloco e salvando.</div>
        </div>
        {% endif %}
        
        <div class="form-group col-md-3">
            <label for="data_inicio">Data de Início</label>
            <input name="data_inicio" value="{{ form.data_inicio.value|date:"Y-m-d"|default:'' }}" id="data_inicio" type="date" placeholder="Data de Início" class="form-control">
            {% if form.data_inicio.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.data_inicio.errors|striptags }}</strong>
            </div>
            {% endif %}
        </div>

        <div class="form-group col-md-3">
            <label for="data_fim">Data de Término</label>
            <input name="data_fim" value="{{ form.data_fim.value|date:"Y-m-d"|default:'' }}" id="data_fim" type="date" placeholder="Data de Término" class="form-control">
            {% if form.data_fim.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.data_fim.errors|striptags }}</strong>
            </div>
            {% endif %}
        </div>

        <div class="form-group col-md-3">
            <label for="multa">Multa</label>
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <input name="multa" value="{{ form.multa.value|default:'' }}" id="multa" type="text" placeholder="Valor da Multa" class="form-control">
            </div>
            {% if form.multa.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.multa.errors|striptags }}</strong>
            </div>
            {% endif %}
        </div>

        <div class="form-group col-md-3">
            <label for="status_locacao">Status da Locação</label>
            <select name="status_locacao" id="status_locacao" class="form-control" required>
            {% for status_locacao in status_locacoes %}
                <option value="{{ status_locacao.id }}" {% if status_locacao.id == filme.status_locacao.id %} selected {% endif %}>{{ status_locacao }}</option>
            {% endfor %}
            </select>
            {% if form.status_locacao.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.status_locacao.errors|striptags }}</strong>
            </div>
            {% endif %}
        </div>

        <div class="col-md-12">
            <label for="id_pago">{{ form.pago }} Esta locação já foi paga?</label>
        </div>

        <div class="col-md-12 text-center">
            &nbsp;
        </div>

        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Salvar e prosseguir</button>
        </div>

    </form>

        {% if locacao %}
        <div class="col-md-12">
            <hr />
        </div>
        
        &nbsp;
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-sm-2">
                        <h4>Filmes:</h4>
                        <h1 class="text-left">{{ locacao.filmes.count }}</h1>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <h4>Multa:</h4>
                        <h1 class="text-left">R$ {{ locacao.multa|default:0 }}</h1>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <h4>Total:</h4>
                        <h1 class="text-left">R$ {{ locacao.total|default:0 }}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-12">
            <hr />
        </div>

        {% if locacao is not None %}
        <div class="col-md-12">
            <div class="well well-sm"><strong>Ótimo!</strong> Agora selecione o cliente que realizará a locação e os filmes que serão alugados.</div>
        </div>
        {% endif %}

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading col-md-12 col-xs-12">
                    <h3 class="panel-title col-md-11 col-xs-11 titulo-painel-locacao">
                        Cliente locador
                    </h3>

                    {% if locacao is not None %}
                        {% if locacao.cliente is None %}
                        <a href="{% url 'locacoes:locacoes-addcliente' pk=locacao.pk %}" class="col-md-1 col-xs-1 panel-title btn btn-default">
                            <i class="fa fa-plus" title="Adicionar cliente"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'locacoes:locacoes-addcliente' pk=locacao.pk %}" class="col-md-1 col-xs-1 panel-title btn btn-default">
                            <i class="fa fa-edit" title="Trocar cliente"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="panel-body">
                    &nbsp;
                    {% if locacao.cliente is None %}
                    <p>Ainda não foi selecionado um cliente para esta locação.</p>
                    {% else %}

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    <div class="col-md-2">
                        <a class="thumbnail" href="{% url 'locacoes:clientes-detalhes' pk=locacao.cliente.id %}">
                            <img class="img-rounded vitrine-locacao-cliente" src="{{ locacao.cliente.foto.url }}" alt="Foto: {{ locacao.cliente.nome }}"/>
                        </a>
                    </div>
                    <div class="col-md-10">
                        <p><strong>{{ locacao.cliente.nome }}</strong></p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>RG:</strong> {{ locacao.cliente.rg }}</p>
                        <p><strong>CPF:</strong> {{ locacao.cliente.cpf }}</p>
                        <p><strong>Idade:</strong> {{ locacao.cliente.idade }} anos</p>
                        <p><strong>Telefone:</strong> ({{ locacao.cliente.ddd }}) {{ locacao.cliente.telefone }}
                    </div>
                    <div class="col-md-6">
                        <p><strong>Endereço:</strong></p>
                        <p>{{ locacao.cliente.endereco }}, {{ locacao.cliente.numero }} {% if locacao.cliente.complemento %} - {{ locacao.cliente.complemento }} {% endif %}</p>
                        <p><strong>CEP:</strong> {{ locacao.cliente.cep }}</p>
                        <p><strong>Cidade:</strong> {{ locacao.cliente.cidade }} /  {{ locacao.cliente.uf }}</p>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading col-md-12 col-xs-12">
                    <h3 class="panel-title col-md-11 col-xs-11 titulo-painel-locacao">
                        Filmes desta locação
                    </h3>

                    {% if locacao is not None %}
                    <a href="{% url 'locacoes:locacoes-addfilme' pk=locacao.pk %}" class="col-md-1 col-xs-1 panel-title btn btn-default">
                        <i class="fa fa-plus" title="Adicionar um filme"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                &nbsp;
                    <div class="row">
                        
                        {% if locacao.filmes.all %}
                        {% for filme in locacao.filmes.all %}
                            
                            <!-- Filme -->
                            <div class="col-md-3 vitrine-locacao">
                                {% if filme.capa %}
                                <div class="col-md-12">
                                    <a class="thumbnail vitrine-imagem" href="{% url 'locacoes:filmes-detalhes' pk=filme.pk %}">
                                        <img class="img-rounded vitrine-filme" src="{{ filme.capa.url }}" alt="Capa: {{ filme.titulo }}" />
                                    </a>
                                </div>
                                {% endif %}
                                
                                <div class="col-md-12">
                                    <h4 class="text-center vitrine-titulo">
                                        <a href="{% url 'locacoes:filmes-detalhes' pk=filme.pk %}">
                                            {{ filme.titulo }}
                                        </a>
                                        {% if filme.blockbuster is True %}
                                        <i class="fa fa-star-o" title="Este filme é um blockbuster"></i>
                                        {% endif %}
                                    </h4>
                                    </p>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <form id="formulario_exclusao" action="{% url 'locacoes:locacoes-delfilme' pk=locacao.pk %}" method="POST" accept-charset="utf-8">
                                        {% csrf_token %}
                                        <input name="filme" value="{{ filme.id }}" type="hidden"></input>
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i> Remover</a></button>
                                    </form>
                                </div>
                            </div>
                            <!-- /Filme -->
                        {% endfor %}

                        {% else %}
                        <div class="col-md-12">
                            <p>Por enquanto, nenhum filme foi adicionado a esta locação.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<hr />


{% endblock %}
