{% extends "common/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Filmes Disponíveis{% endblock %}

{% block body %}
<h1><i class="fa fa-film"></i> Filmes Disponíveis</h1>
<p>&nbsp;</p>

<div class="row">
{% if filmes %}
    {% for filme in filmes %}
    
    <div class="col-md-3 container-filme">
        {% if filme.capa %}
        <div class="col-md-12">
            <a class="thumbnail capa-filme" href="{{ filme.capa.url }}">
                <img class="img-rounded" src="{{ filme.capa.url }}" />
            </a>
        </div>
        {% endif %}

        <div class="col-md-12">
            <h4 class="text-center">{{ filme.titulo }}
                {% if filme.blockbuster is True %}
                <i class="fa fa-star-o" title="Este filme é um blockbuster"></i>
                {% endif %}
            </h4>
            <ul>
                <li><strong>Quantidade:</strong> {{ filme.quantidade }}</li>
                <li><strong>Gênero:</strong> {{ filme.genero }}</li>
                <li><strong>Lançamento:</strong> {{ filme.data_lancamento|date:"M/Y" }}</li>
                <li><strong>Classificação:</strong> {{ filme.classificacao }}</li>
                
            </ul>
        </div>
        <hr />
        <div class="text-center">
            <a class="btn btn-default" href="{% url 'locacoes:filmes-editar' pk=filme.pk  %}"><i class="fa fa-edit"></i> Editar</a>
            <a class="btn btn-danger" href="#"><i class="fa fa-close"></i> Excluir</a>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}