h1 {
    display: block;
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    margin-top: 15px;
    width: 100%;
    line-height: 50px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

/**
*   Ajustes de posicionamento
*/

.container-filme {
    min-height: 650px;
}

.container-cliente {
    min-height: 580px;
}

.vitrine-titulo {
    min-height: 43px;
    line-height: 20px;
    text-align: center;
}

.vitrine-imagem {
    margin-bottom: 10px;
    vertical-align: bottom;
}

.vitrine-filme {
    min-height: 350px;
}

.vitrine-cliente {
    min-height: 300px;
}

.vitrine-locacao {
    min-height: 510px;
}

.vitrine-locacao-cliente {
    max-height: 150px;
    max-width: 150px;
}

.icone-classificacao-index {
    max-height: 25px;
    max-width: 25px;
}

.icone-classificacao-detail {
    max-height: 30px;
    max-width: 30px;
}

.titulo-painel-locacao {
    padding-top: 7px;
    padding-left: 0px;
}

/**
*   Ajustes de cores
*/
.pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover,
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>.open>a:hover,
.pagination>li>a, .pagination>li>span
{ color: teal }

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.panel-default>.panel-heading,
.dropdown-menu>li>a,
.label-default,
a, i, strong, h1
{ color: #065656; }

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{ 
    border-color: teal;
    background-color: #065656;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover, .form-control:focus, .form-control:focus
{ border-color: teal; }

.btn-default.focus, .btn-default:focus, .form-control:focus
{ 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(5, 128, 105, 0.6);
    outline-color: teal;
}

.label-default, .label
{ 
    border: #ddd 1px solid;
    background-color: #f5f5f5;
    font-weight: 300;
}

.btn-danger > i
{ color: white }
