h1 {
    display: block;
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    margin-top: 15px;
    width: 100%;
    line-height: 50px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

.container-filme {
    min-height: 575px;
}

.capa-filme {
    margin-bottom: 10px;
}

.icone-classificacao-index {
    max-height: 25px;
    max-width: 25px;
}

.icone-classificacao-detail {
    max-height: 30px;
    max-width: 30px;
}