h1 {
    display: block;
    text-align: center;
}

.footer {
    bottom: 0;
    position: fixed;
    margin-top: 15px;
    width: 100%;
    line-height: 50px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

.container-filme {
    min-height: 650px;
}

.container-cliente {
    min-height: 580px;
}

.vitrine-titulo {
    min-height: 43px;
    line-height: 20px;
    text-align: center;
}

.vitrine-imagem {
    margin-bottom: 10px;
    vertical-align: bottom;
}

.vitrine-filme {
    min-height: 350px;
}

.vitrine-cliente {
    min-height: 300px;
}

.vitrine-locacao {
    min-height: 510px;
}

.vitrine-locacao-cliente {
    max-height: 150px;
    max-width: 150px;
}

.icone-classificacao-index {
    max-height: 25px;
    max-width: 25px;
}

.icone-classificacao-detail {
    max-height: 30px;
    max-width: 30px;
}

.titulo-painel-locacao {
    padding-top: 7px;
    padding-left: 0px;
}